In [43]:
import numpy as np
import re
import string

In [29]:
import pandas as pd
# train 
trainData = pd.read_csv("C:\\Users\\91807\\Downloads\\archive\\training.1600000.processed.noemoticon.csv",encoding='latin-1')
# test 
testData = pd.read_csv("C:\\Users\\91807\\Downloads\\archive\\training.1600000.processed.noemoticon.csv",encoding='latin-1')

In [32]:
trainData = trainData[799000:801000]

In [33]:
testData = testData[798000:802000]

In [34]:
testData.head()

,TARGET,ID,DATE,QUERY,USERNAME,TWEET
798000,0,2328379014,Thu Jun 25 09:30:33 PDT 2009,NO_QUERY,DjinniGenie,@davidvancamp That's awful. I wish mine would...
798001,0,2328379041,Thu Jun 25 09:30:33 PDT 2009,NO_QUERY,Unrated7String,"Well, i guess i need to start a new chapter in..."
798002,0,2328379271,Thu Jun 25 09:30:34 PDT 2009,NO_QUERY,jamesebradford,"@SandraBernhard Miss Lady, since you brought u..."
798003,0,2328379299,Thu Jun 25 09:30:34 PDT 2009,NO_QUERY,njandecrox,@CarterTwinsZach Im sorry I hope u feel better...
798004,0,2328379389,Thu Jun 25 09:30:35 PDT 2009,NO_QUERY,lejunkdrawer,"@StewartWade Yeah, I know--pigs for sure...whi..."

In [35]:
trainData.head()

,TARGET,ID,DATE,QUERY,USERNAME,TWEET
799000,0,2328818761,Thu Jun 25 10:01:35 PDT 2009,NO_QUERY,LIDA360,Charlie lost an angel today Very sad http:...
799001,0,2328818847,Thu Jun 25 10:01:35 PDT 2009,NO_QUERY,rnspires21,"at work, and very bored"
799002,0,2328819310,Thu Jun 25 10:01:37 PDT 2009,NO_QUERY,lasthonestlook,It's weird how celebrities go in threes. Carra...
799003,0,2328819347,Thu Jun 25 10:01:37 PDT 2009,NO_QUERY,deiann,@adelate Farrah's dead? Had no idea.. RIP Farr...
799004,0,2328819450,Thu Jun 25 10:01:37 PDT 2009,NO_QUERY,jessoquinn,Very sad news. Farrah Fawcett passed away.

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Create feature vectors
vectorizer = TfidfVectorizer(min_df = 5,
                             max_df = 0.8,
                             sublinear_tf = True,
                             use_idf = True)
train_vectors = vectorizer.fit_transform(trainData['TWEET'])
test_vectors = vectorizer.transform(testData['TWEET'])

NameError: name 'trainData' is not defined

In [ ]:
import time
from sklearn import svm
from sklearn.metrics import classification_report
# Perform classification with SVM, kernel=linear
classifier_linear = svm.SVC(kernel='linear')
t0 = time.time()
classifier_linear.fit(train_vectors, trainData['TARGET'])
t1 = time.time()
prediction_linear = classifier_linear.predict(test_vectors)
t2 = time.time()
time_linear_train = t1-t0
time_linear_predict = t2-t1
# results
print("Training time: %fs; Prediction time: %fs" % (time_linear_train, time_linear_predict))
report = classification_report(testData['TARGET'], prediction_linear, output_dict=True)
print('positive: ', report['4'])
print('negative: ', report['0'])